<html>
  <body>
    <form>
      <input type="text">
      <input type="submit" onclick="send_message(event);">
    </form>
  </body>
  <script type="text/javascript" src="assets/js/application.js"></script>
</html>
